<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Register{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="uploads/favicon_image.png">
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
{% block body %}
    <div class="center container">
        <div class="color-strip">
            <p>Sign Up</p>
        </div>

        {% for message in app.flashes('error') %}
            <div class="warning">{{ message }}</div>
        {% endfor %}

        {% if registrationForm is defined %}
            {{ form_start(registrationForm) }}

            <div class="small_space">
                {{ form_widget(registrationForm.user_name, {'attr': {'placeholder': 'Enter your username'}}) }}
                {% for error in registrationForm.user_name.vars.errors %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="small_space">
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Enter your email'}}) }}
                {% for error in registrationForm.email.vars.errors %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="small_space">
                {{ form_widget(registrationForm.password, {'attr': {'placeholder': 'Enter your password'}}) }}
                {% for error in registrationForm.password.vars.errors %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="small_space">
                {{ form_widget(registrationForm.submit, {'attr': {'class': 'btn_primary'}}) }}
            </div>

            {# Display form errors beneath submit button #}
            {% for error in registrationForm.vars.errors %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}

            {{ form_end(registrationForm) }}
        {% endif %}

        <div class="small_space">
            <p>Already have an account?</p>
            <a href="{{ path('load_login_page') }}">Login here</a>
        </div>
    </div>
{% endblock %}
</body>
</html>